<div class="row">
  <md-card class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1 mtb10 p0 md-elevation-z12">
    <md-card-content class="p0">
      <div> 
        <md-toolbar color="primary">
          <div class="col-xs-12 p0 m0"><span>Client License</span><button md-raised-button class="pull-right btn-small mright5" (click)="routeToLicensesList()" ><span class="glyphicon glyphicon-list text-success" style="padding: 2px 0 4px 2px"></span></button></div>
        </md-toolbar>
        <div class="col-lg-12 col-md-12 col-sm-12 mtb10">
          <form (submit)="saveChanges()">          
            <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
              <md-input class="" name="licenseKey" placeholder="License Key" [(ngModel)]="license.LicenseKey" type="text" autocomplete="off" required min="1" max="10" >
              </md-input>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
              <md-input class="" name="location" placeholder="Location" [(ngModel)]="license.Location" type="text" autocomplete="off" required [typeahead]="locations" [typeaheadMinLength]="0"></md-input>
            </div>   
            <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12 center-align">
              <button md-raised-button class="btn-save" type="submit">Save</button>
            </div>      
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
              <p *ngIf="error.length>0" class="alert alert-danger">{{error}}</p>
              <p *ngIf="editSuccess" class="alert alert-success">License Details are updated successfully!</p>
            </div>
          </form>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>