<div class="row">
	<md-card class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1 mtb10 p0 md-elevation-z12">
		<md-card-content class="p0">
			<form #myForm (submit)="saveChanges()">
				<div>
					<md-toolbar color="primary">
						<div class="col-xs-12 p0 m0"><span>Personal Details</span><button md-raised-button type="button" class="pull-right btn-small" (click)="editData()"
								*ngIf="!isNewEmployee"><span class="glyphicon glyphicon-edit text-success" style="padding: 2px 0 4px 2px;"></span>
</button> <button md-raised-button class="pull-right btn-small mright5" type="button" (click)="routeToEmployeeList()"><span class="glyphicon glyphicon-list text-success" style="padding: 2px 0 4px 2px"></span>
</button>
</div>
</md-toolbar>
<div class="col-lg-12 col-md-12 col-sm-12 mtb10">
	<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
		<p *ngIf="error.length>0" class="alert alert-danger">{{error}}</p>
	</div>
	<div class="col-lg-10 col-md-12 col-sm-12">
		<div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
			<md-input class="" name="firstName" [(ngModel)]="NewEmployee.FirstName" placeholder="First Name" type="text" required maxLength="35"
				[disabled]="inputDisabled"></md-input>
		</div>
		<div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
			<md-input class="" name="middleName" [(ngModel)]="NewEmployee.MiddleName" placeholder="Middle Name" type="text" maxLength="20"
				[disabled]="inputDisabled"></md-input>
		</div>
		<div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
			<md-input class="" name="lastName" [(ngModel)]="NewEmployee.LastName" placeholder="Last Name" type="text" required maxLength="35"
				[disabled]="inputDisabled"></md-input>
		</div>
		<div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
			<md-input class="" name="employeeNumber" [(ngModel)]="NewEmployee.EmployeeNumber" placeholder="Employee No." type="text"
				required maxLength="6" [disabled]="!isNewEmployee"></md-input>
		</div>
		<div class="col-md-3 col-sm-6 col-lg-3 col-xs-12">
			<md-input class="" name="primaryPhone" [(ngModel)]="NewEmployee.PrimaryPhone" placeholder="Primary Phone" type="text" required
				maxLength="15" [disabled]="inputDisabled"></md-input>
		</div>
		<div class="col-md-3 col-sm-6 col-lg-3 col-xs-12">
			<md-input class="" name="secondaryPhone" [(ngModel)]="NewEmployee.SecondaryPhone" placeholder="Secondary Phone" type="text"
				maxLength="15" [disabled]="inputDisabled"></md-input>
		</div>
		<div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
			<md-input class="" name="email" [(ngModel)]="NewEmployee.Email" placeholder="Email" type="email" required maxLength="255"
				[disabled]="inputDisabled"></md-input>
		</div>
		<div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
			<md-input class="" name="dob" [(ngModel)]="NewEmployee.DOB" placeholder="Date of Birth" type="date" required [disabled]="inputDisabled"></md-input>
		</div>
		<div class="col-md-2 col-sm-3 col-lg-2 col-xs-12">
			<md-input class="" name="bloodGroup" [(ngModel)]="NewEmployee.BloodGroup" placeholder="Blood Group" type="text" required
				[disabled]="inputDisabled"></md-input>
		</div>
		<div class="col-md-3 col-sm-6 col-lg-3 col-xs-12">
			<md-input class="" name="PAN" [(ngModel)]="NewEmployee.PAN" placeholder="PAN" type="text" [disabled]="inputDisabled"></md-input>
		</div>
		<div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
			<md-input class="" name="aadhar" [(ngModel)]="NewEmployee.Aadhar" placeholder="Aadhar" type="text" [disabled]="inputDisabled"></md-input>
		</div>
	</div>
	<div class="col-lg-2 col-md-12 col-sm-12 col-sm-12">
		<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
			<button md-raised-button color="primary" class="file-button" type="button" [disabled]="inputDisabled" *ngIf="!hideFileButton">
                                    <label for="imageInput">
                                        Photo
                                    </label>
                                </button>
			<input type="file" accept="image/*" name="photo" value="Photo" class="file-input" id="imageInput" ng2FileSelect [uploader]="uploader"
				(change)="imagePreview($event)" [disabled]="inputDisabled"/>
		</div>
		<div>			
			<img src={{ImageSrc}} class="imagePreview" required>
			<span class="label label-danger image-delete pointer" (click)="removeImage()">X</span>
		</div>
	</div>
</div>
</div>
<div>
	<md-toolbar color="primary">Address Details</md-toolbar>
	<div class="col-lg-12 col-md-12 col-sm-12 mtb10">
		<div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
			<md-input class="" name="addressLine1" [(ngModel)]="NewEmployee.AddressLine1" placeholder="Address Line 1" type="text" required
				maxLength="255" [disabled]="inputDisabled"></md-input>
		</div>
		<div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
			<md-input class="" name="addressLine2" [(ngModel)]="NewEmployee.AddressLine2" placeholder="Address Line 2" type="text" maxLength="255"
				[disabled]="inputDisabled"></md-input>
		</div>
		<div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
			<md-input class="" name="country" [(ngModel)]="NewEmployee.Country" [typeahead]="countries" autocomplete="off" (typeaheadOnSelect)="countrySelected()"
				placeholder="Country" type="text" required [disabled]="inputDisabled"></md-input>
		</div>
		<div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
			<md-input class="" name="state" [(ngModel)]="NewEmployee.State" autocomplete="off" [typeahead]="states" (typeaheadOnSelect)="stateSelected()"
				placeholder="State" type="text" required [disabled]="inputDisabled"></md-input>
		</div>
		<div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
			<md-input class="" name="city" [(ngModel)]="NewEmployee.City" [typeahead]="cities" autocomplete="off" placeholder="City"
				type="text" required [disabled]="inputDisabled"></md-input>
		</div>
		<div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
			<md-input class="" name="ZIP" [(ngModel)]="NewEmployee.ZIP" placeholder="ZIP" type="text" required maxLength="10" [disabled]="inputDisabled"></md-input>
		</div>
	</div>
</div>
<div>
	<md-toolbar color="primary">Employement Details</md-toolbar>
	<div class="col-lg-12 col-md-12 col-sm-12 mtb10">
		<div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
			<md-input class="" name="doj" [(ngModel)]="NewEmployee.DOJ" placeholder="Date of Joining" type="date" required [disabled]="inputDisabled"></md-input>
		</div>
		<div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
			<md-input class="" name="provisionalPeriod" [(ngModel)]="NewEmployee.ProvisionalPeriod" min="0" max="24" placeholder="Provisional Period (Months)"
				type="number" [disabled]="inputDisabled"></md-input>
		</div>
		<div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
			<md-input class="" name="employmentType" [(ngModel)]="NewEmployee.EmploymentType" autocomplete="off" [typeahead]="['Consultant','Permanant']"
				[typeaheadMinLength]="0" placeholder="Employement Type" type="text" required [disabled]="inputDisabled"></md-input>
		</div>
		<div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
			<md-input class="" name="designation" [(ngModel)]="NewEmployee.Designation" autocomplete="off" [typeahead]="designations"
				placeholder="Designation" [typeaheadMinLength]="0" type="text" required [disabled]="inputDisabled"></md-input>
		</div>
		<div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
			<md-input class="" name="department" [(ngModel)]="NewEmployee.Department" autocomplete="off" [typeahead]="departments" placeholder="Department"
				[typeaheadMinLength]="0" (typeaheadOnSelect)="departmentChange()" type="text" required [disabled]="inputDisabled"></md-input>
		</div>
		<div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
			<md-input class="" name="manager" [(ngModel)]="NewEmployee.Manager" placeholder="Head/Manager" [typeahead]="managers" type="text"
				[disabled]="inputDisabled" autocomplete="off"></md-input>
		</div>
		<div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
			<md-input class="" name="role" [(ngModel)]="NewEmployee.Role" required placeholder="Role" type="text" [typeahead]="roles"
				[disabled]="inputDisabled"></md-input>
		</div>
		<div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
			<md-input class="" name="doctorGroup" [(ngModel)]="doctorGroupSelector" placeholder="Doctor Group" [typeahead]="doctorGroups"
				(typeaheadOnSelect)="doctorGroupChange()" type="text" [disabled]="inputDisabled" autocomplete="off"></md-input>
		</div>
		<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 well well-sm" *ngIf="NewEmployee.DoctorGroups.length>0">
			<span class="mright5">Doctor Groups Selected </span>
			<span *ngFor="let group of NewEmployee.DoctorGroups" class="label label-info mright5">{{group}}<span class="label label-danger mleft5 pointer" (click)="removeDoctorGroup(group)">X</span>			</span>
		</div>
		<div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
			<md-input class="" name="specialty" [(ngModel)]="specialtySelector" autocomplete="off" (typeaheadOnSelect)="specialtiesChange()"
				[typeahead]="specialties" placeholder="Specialty" type="text" [disabled]="inputDisabled"></md-input>
		</div>
		<div class="col-md-3 col-sm-6 col-lg-3 col-xs-12" *ngIf="!isNewDoctor">
			<md-checkbox name="active" [(ngModel)]="NewEmployee.Active">Active </md-checkbox>
		</div>
		<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 well well-sm" *ngIf="NewEmployee.Specialties.length>0">
			<span class="mright5">Specialties Selected </span>
			<span *ngFor="let specialty of NewEmployee.Specialties" class="label label-info mright5">{{specialty}}<span class="label label-danger mleft5 pointer" (click)="removeSpecialty(specialty)">X</span>			</span>
		</div>

		<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
			<p *ngIf="error.length>0" class="alert alert-danger">{{error}}</p>
			<p *ngIf="updateSuccess" class="alert alert-success">Employee Details are updated successfully!</p>
		</div>
		<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 center-align">
			<button md-raised-button class="btn-save" [disabled]="inputDisabled">Save</button>
		</div>
	</div>
</div>


</form>
</md-card-content>
</md-card>
</div>

