<div class="row">
    <md-card class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1 mtb10 p0 md-elevation-z12">
        <md-card-content class="p0">
            <form #myForm (submit)="saveChanges()">
                <div>
                    <md-toolbar color="primary">
                        <div class="col-xs-12 p0 m0">
                            <span>Personal Details</span>
                            <button md-raised-button type="button" class="pull-right btn-small" (click)="editData()" *ngIf="!isNewEmployee">
                                <span class="glyphicon glyphicon-edit text-success" style="padding: 2px 0 4px 2px;"></span>
                            </button> <button md-raised-button class="pull-right btn-small mright5" type="button" (click)="routeToEmployeeList()">
                                <span class="glyphicon glyphicon-list text-success" style="padding: 2px 0 4px 2px"></span>
                            </button>
                        </div>
                    </md-toolbar>
                    <div class="col-lg-12 col-md-12 col-sm-12 mtb10">
                        <div class="col-lg-10 col-md-12 col-sm-12">
                            <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
                                <md-input-container>
                                    <input mdInput class="" name="firstName" #firstName [(ngModel)]="NewEmployee.FirstName" placeholder="First Name"
                                           type="text" required maxLength="35" [disabled]="inputDisabled" autocomplete="off">
                                </md-input-container>
                            </div>
                            <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
                                <md-input-container>
                                    <input mdInput class="" name="middleName" #middleName [(ngModel)]="NewEmployee.MiddleName" placeholder="Middle Name"
                                           type="text" maxLength="20" [disabled]="inputDisabled" autocomplete="off">
                                </md-input-container>
                            </div>
                            <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
                                <md-input-container>
                                    <input mdInput class="" name="lastName" #lastName [(ngModel)]="NewEmployee.LastName" placeholder="Last Name" type="text"
                                           required maxLength="35" [disabled]="inputDisabled" autocomplete="off">
                                </md-input-container>
                            </div>
                            <div class="col-md-2 col-sm-6 col-lg-2 col-xs-12" *ngIf="!isNewEmployee">
                                <md-input-container>
                                    <input mdInput class="" name="employeeNumber" #employeeNumber [(ngModel)]="NewEmployee.EmployeeNumber" placeholder="Employee No."
                                           type="text" required maxLength="6" [disabled]="!isNewEmployee" autocomplete="off">
                                </md-input-container>
                            </div>
                            <div class="col-md-3 col-sm-6 col-lg-3 col-xs-12">
                                <md-input-container>
                                    <input mdInput class="" name="primaryPhone" #primaryPhone [(ngModel)]="NewEmployee.PrimaryPhone" placeholder="Primary Phone"
                                           type="text" required maxLength="15" [disabled]="inputDisabled" autocomplete="off">
                                </md-input-container>
                            </div>
                            <div class="col-md-3 col-sm-6 col-lg-3 col-xs-12">
                                <md-input-container>
                                    <input mdInput class="" name="secondaryPhone" #secondaryPhone [(ngModel)]="NewEmployee.SecondaryPhone" placeholder="Secondary Phone"
                                           type="text" maxLength="15" [disabled]="inputDisabled" autocomplete="off">
                                </md-input-container>
                            </div>
                            <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
                                <md-input-container>
                                    <input mdInput class="" name="email" #email [(ngModel)]="NewEmployee.Email" placeholder="Email" type="email" required
                                           maxLength="255" [disabled]="!isNewEmployee" autocomplete="off">
                                </md-input-container>
                            </div>
                            <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                                <md-input-container>
                                    <input mdInput class="" name="dob" #dob [(ngModel)]="NewEmployee.DOB" placeholder="Date of Birth" type="date" required
                                           [disabled]="inputDisabled">
                                </md-input-container>
                            </div>
                            <div class="col-md-2 col-sm-3 col-lg-2 col-xs-12">
                                <md-input-container>
                                    <input mdInput class="" name="gender" #gender [(ngModel)]="NewEmployee.Gender" placeholder="Gender"
                                           type="text" required [disabled]="inputDisabled" autocomplete="off" [typeaheadMinLength]="0" [typeahead]="genders">
                                </md-input-container>
                            </div>
                            <div class="col-md-1 col-sm-3 col-lg-1 col-xs-12">
                                <md-input-container>
                                    <input mdInput class="" name="bloodGroup" #bloodGroup [(ngModel)]="NewEmployee.BloodGroup" placeholder="Blood Group"
                                           type="text" required [disabled]="inputDisabled" autocomplete="off" [typeaheadMinLength]="0" [typeahead]="bloodGroups">
                                </md-input-container>
                            </div>
                            <div class="col-md-3 col-sm-6 col-lg-3 col-xs-12">
                                <md-input-container> <input mdInput class="" autocomplete="off" name="PAN" #pan [(ngModel)]="NewEmployee.PAN" placeholder="PAN" type="text" [disabled]="inputDisabled"></md-input-container>
                            </div>
                            <div class="col-md-3 col-sm-6 col-lg-3 col-xs-12">
                                <md-input-container> <input mdInput class="" autocomplete="off" name="aadhar" #aadhar [(ngModel)]="NewEmployee.Aadhar" placeholder="Aadhar" type="text" [disabled]="inputDisabled"></md-input-container>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-12 col-sm-12 col-sm-12">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">                              
                                <input type="file" accept="image/*" #photo name="photo" value="Photo" class="file-input" id="imageInput"
                                       (change)="imagePreview($event)" [disabled]="inputDisabled" />
                            </div>
                            <div>
                                <img src={{ImageSrc}} class="imagePreview" required>
                                <label for="imageInput" class="image-delete pointer">
                                    <span class="glyphicon glyphicon-edit text-success" style="padding:3px;"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
        
		        <div>
                    <md-toolbar color="primary">Address Details</md-toolbar>
                    <div class="col-lg-12 col-md-12 col-sm-12 mtb10">
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <md-input-container>
                                <input mdInput class="" name="addressLine1" #addressLine1 [(ngModel)]="NewEmployee.AddressLine1" placeholder="Address Line 1"
                                       type="text" required maxLength="255" [disabled]="inputDisabled" autocomplete="off">
                            </md-input-container>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <md-input-container>
                                <input mdInput class="" name="addressLine2" #addressLine2 [(ngModel)]="NewEmployee.AddressLine2" placeholder="Address Line 2"
                                       type="text" maxLength="255" [disabled]="inputDisabled" autocomplete="off">
                            </md-input-container>
                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                            <md-input-container>
                                <input mdInput class="" name="country" #country [(ngModel)]="NewEmployee.Country" [typeahead]="countries" autocomplete="off"
                                       (typeaheadOnSelect)="countrySelected()" placeholder="Country" type="text" required [disabled]="inputDisabled" (change)="countrySelected()">
                            </md-input-container>
                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                            <md-input-container>
                                <input mdInput class="" name="state" #state [(ngModel)]="NewEmployee.State" autocomplete="off" [typeahead]="states"
                                       (typeaheadOnSelect)="stateSelected()" placeholder="State" type="text" required [disabled]="inputDisabled" (change)="stateSelected()">
                            </md-input-container>
                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                            <md-input-container>
                                <input mdInput class="" name="city" #city [(ngModel)]="NewEmployee.City" [typeahead]="cities" autocomplete="off" placeholder="City"
                                       type="text" required [disabled]="inputDisabled">
                            </md-input-container>
                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                            <md-input-container>
                                <input mdInput class="" name="ZIP" #zip [(ngModel)]="NewEmployee.ZIP" autocomplete="off" placeholder="ZIP" type="text" required maxLength="10"
                                       [disabled]="inputDisabled">
                            </md-input-container>
                        </div>
                    </div>
                </div>
    
	            <div>
                    <md-toolbar color="primary">Employement Details</md-toolbar>
                    <div class="col-lg-12 col-md-12 col-sm-12 mtb10">
                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                            <md-input-container>
                                <input mdInput class="" name="doj" #doj [(ngModel)]="NewEmployee.DOJ" autocomplete="off" placeholder="Date of Joining" type="date" required
                                       [disabled]="inputDisabled">
                            </md-input-container>
                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12" *ngIf="!isNewEmployee">
                            <md-input-container>
                                <input mdInput class="" name="dor" #dor [(ngModel)]="NewEmployee.DOR" autocomplete="off" placeholder="Date of Resignation" type="date"
                                       [disabled]="inputDisabled">
                            </md-input-container>
                        </div>
                       <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                            <md-input-container>
                                <input mdInput class="" name="provisionalPeriod" #provisionalPeriod [(ngModel)]="NewEmployee.ProvisionalPeriod" min="0"
                                       max="24" autocomplete="off" placeholder="Provisional Period (Months)" type="number" [disabled]="inputDisabled">
                            </md-input-container>
                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                            <md-input-container>
                                <input mdInput class="" name="employmentType" #employmentType [(ngModel)]="NewEmployee.EmploymentType" autocomplete="off"
                                       [typeahead]="employmentTypes" [typeaheadMinLength]="0" placeholder="Employement Type" type="text" required [disabled]="inputDisabled">
                            </md-input-container>
                        </div>

                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                            <md-input-container>
                                <input mdInput class="" name="designation" #designation [(ngModel)]="NewEmployee.Designation" autocomplete="off" [typeahead]="designations"
                                       placeholder="Designation" [typeaheadMinLength]="0" type="text" required [disabled]="inputDisabled">
                            </md-input-container>
                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                            <md-input-container>
                                <input mdInput class="" name="department" #department [(ngModel)]="NewEmployee.Department" autocomplete="off" [typeahead]="departments"
                                       placeholder="Department" [typeaheadMinLength]="0" (typeaheadOnSelect)="departmentChange()" type="text" required [disabled]="inputDisabled">
                            </md-input-container>
                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                            <md-input-container>
                                <input mdInput class="" name="manager" #manager [(ngModel)]="NewEmployee.Manager" placeholder="Head/Manager" [typeahead]="managers"
                                       type="text" [disabled]="inputDisabled" autocomplete="off">
                            </md-input-container>
                        </div>
                       <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                            <md-input-container>
                                <input mdInput class="" name="role" #role [(ngModel)]="NewEmployee.Role" required placeholder="Role" type="text" [typeahead]="roles"
                                       [disabled]="inputDisabled" [typeaheadMinLength]="0" autocomplete="off">
                            </md-input-container>
                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12" *ngIf="NewEmployee.Department=='MT'">
                            <md-input-container>
                                <input mdInput class="" name="doctorGroup" [(ngModel)]="doctorGroupSelector" placeholder="Doctor Group" [typeahead]="doctorGroups"
                                       (typeaheadOnSelect)="doctorGroupChange()" (blur)="doctorGroupChange()" type="text" [typeaheadMinLength]="0" [disabled]="inputDisabled" autocomplete="off">
                            </md-input-container>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 well well-sm" *ngIf="NewEmployee.DoctorGroups.length>0">
                            <span class="mright5">Doctor Groups Selected </span>
                            <span *ngFor="let group of NewEmployee.DoctorGroups" class="label label-info mright5">{{group}}<span class="label label-danger mleft5 pointer" (click)="removeDoctorGroup(group)">X</span>							</span>
                        </div>
                         <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12" *ngIf="NewEmployee.Department=='MT'" >
                            <md-input-container>
                                <input mdInput class="" name="specialty" [(ngModel)]="specialtySelector" autocomplete="off"
                                       (typeaheadOnSelect)="specialtiesChange()" (blur)="specialtiesChange()" [typeahead]="specialties" placeholder="Specialty" type="text" [disabled]="inputDisabled">
                            </md-input-container>
                        </div>
                         <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 well well-sm" *ngIf="NewEmployee.Specialties.length>0">
                            <span class="mright5">Specialties Selected </span>
                            <span *ngFor="let specialty of NewEmployee.Specialties" class="label label-info mright5">{{specialty}}<span class="label label-danger mleft5 pointer" (click)="removeSpecialty(specialty)">X</span>							</span>
                        </div>

                        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 center-align">
                            <button md-raised-button class="btn-save" [disabled]="inputDisabled">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </md-card-content>
    </md-card>
</div>