
.progress-timeline-bar{
    background:linear-gradient(90deg, #71F02E 30px, #ececec 30px)!important;
}

.progress-timeline-checkpoint-1 .bubble{
background:#71F02E!important;
}

.image-delete{
    position: absolute;
    left: 15px;
    background: white;
}

.imagePreview{
    height: 140px;
    max-height: 100%;
    max-width: 100%;
}
