/*.bg-blue{
    background-color:#3598dc ; 
}

.bg-lightblue{
    background-color:#b6c8ec ; 
}

.bg-pink{
    background-color:#ef727a ; 
}

.bg-green{
    background-color:#3fb26c ; 
}*/

tbody tr{
    height: 30px;    
}

thead{
    color: white;
}