

table{
    thead{
        tr{
            height: 28px;
        }
    }
    tbody{
        tr{
            height: 25px;
        }
    }
    td,th{
        border-right: 1pt solid #eee
    }
}
.bg-brown{
    background-color:rgba(156, 103, 33, 0.45);
}

.bg-red{
    background-color: rgba(255, 199, 199, 1);
}

.bg-yellow{
    background-color: rgba(252, 255, 199, 1);
}

.bg-green{
    background-color: rgba(220, 255, 199, 1);
}

.bg-white{
    background-color: white;
}

.bg-green1{
    background-color: #3fb26c !important;
}

.bg-brown1{
    background-color: #9aa07a !important;
}

.bg-orange1{
    background-color: #f17318 !important;
}

.bg-lightblue1{
    background-color: rgba(101, 139, 215, 1) !important;
}

.bg-pink1{
    background-color: #ef727a !important;
}

.bg-pruple1{
    background-color: rgba(142, 78, 188, 1) !important;
}

.search{
    height: 104px;
}


