<div class="my-nav-bar">
  <div class="logo" (click)="navigateTo('login')">
  <a ><img src="images/logo.png" alt=""></a>
  </div>
    <nav>
      <ul class="nav" *ngIf="LoggedIn">
        <li><a (click)="navigateTo('dashboard')" class="home"><span>Dashboard</span></a></li>
        <li *ngIf="isInRole('Transcriptionist') || isInRole('Coordinator')" ><a (click)="navigateTo('jobs')" class="home"><span>Jobs</span></a></li>
        <li class="dropdown"  *ngIf="isInRole('Coordinator') || isInRole('Manager')" > 
          <a>Allocations</a>
          <ul class="dropdown-menu dropdown-menu">
            <li><a (click)="navigateTo('default-allocations')">Default Allocations</a></li>
            <li><a  *ngIf="isInRole('Coordinator')" (click)="navigateTo('job-allocations')">Job Allocations</a></li>
          </ul>
        </li>
        <li  *ngIf="isInRole('Coordinator') || isInRole('Manager')"><a (click)="navigateTo('employees')" class="home"><span>Employees</span></a></li>
         <li class="dropdown"  *ngIf="isInRole('Coordinator') || isInRole('Manager')">
          <a>Clients</a>
          <ul class="dropdown-menu">
            <li><a (click)="navigateTo('clients')">Clients</a></li>
            <li><a (click)="navigateTo('doctors')">Doctors</a></li>
            <li><a (click)="navigateTo('doctor-groups')">Doctor Groups</a></li>
            <li><a (click)="navigateTo('patient-list')">Patient List</a></li>
            <li><a (click)="navigateTo('client-employees')">Client Employee</a></li>
          </ul>
        </li>
        <li class="dropdown hidden" ><a href=""><span class="glyphicon glyphicon-comment notification-icon"></span> <span class="badge redA200 notification-badge">{{NotificationCount}}</span> </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a (click)="navigateTo('dashboard')">Messages <span class="badge">{{MessageCount}} new</span> </a></li>
            <li><a (click)="navigateTo('dashboard')">Notices <span class="badge">{{NoticeCount}} new</span></a></li>
            <li *ngIf="isInRole('Manager')" ><a (click)="navigateTo('leaves-review')">Leave Reviews <span class="badge">{{LeaveReviewCount}} new</span></a></li>
          </ul>        
        </li>
         <li class="dropdown">
          <a>Hi {{getDisplayName()}}!</a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="hidden"> <a (click)="navigateTo('dashboard')">Edit Profile</a></li>
            <li><a (click)="getDesktopApplication()">Desktop Application</a></li>
            <li><a (click)="navigateTo('change-password')">Change Password</a></li>
            <li><a (click)="navigateTo('logout')">Logout</a></li>
          </ul>
        </li> 
      </ul>
    </nav>

</div>
<router-outlet></router-outlet>
<div id="loading" *ngIf="loading">
  <img src="images/loading.gif" id="loading_gif"/>
</div>
<!--
<div class="messages">
  <p class="alert alert-info" *ngIf="info.length>0">{{info}}</p>
  <p class="alert alert-success" *ngIf="success.length>0">{{success}}</p>
  <p class="alert alert-danger" *ngIf="error.length>0">{{error}}</p>
  <div class="alert alert-success alert-dismissable">
  <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> Indicates a successful or positive action.
</div>

<ngb-alert [type]="danger" >Hello</ngb-alert>
</div>-->

<simple-notifications [options]="options" (onCreate)="onCreate($event)"></simple-notifications>

