
.badge{
    vertical-align: text-top;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.job-summary-strip{   
    font-size: 16px;
    padding: 3px 10px;
    border-radius: 20px;
    color: white;
    font-family: roboto;
    margin: 0 5px;
}

.file-input-container{
      height: 48px;
    input[type='file']{  
          margin: 0!important;
          padding: 14px 0;
    }
}

.checkbox-container{
    margin: 10px 0;
}

.radio-button-container{
    height: 48px;
    *{
        padding:9px 0;
    }
}

td,th{
    border-right: 1pt solid #eee
}


.bg-red{
    background-color: rgba(255, 199, 199, 1);
}

.bg-yellow{
    background-color: rgba(252, 255, 199, 1);
}

.bg-green{
    background-color: rgba(220, 255, 199, 1);
}

.bg-white{
    background-color: white;
}
