<style>
	@import 'https://fonts.googleapis.com/css?family=Roboto';
</style>

<div class="row m0">
	<md-card class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mtb10 p0 md-elevation-z12">
		<md-card-content class="p0">
			<div>
				<md-toolbar color="primary" class="mbottom5 toolbar-small">
					<div class="col-xs-12 p0 m0">
						<strong>Job Allocations </strong>
						<button md-raised-button class="pull-right btn-small" (click)="showSearch.checked=!showSearch.checked"> <md-checkbox #showSearch [checked]="false" hidden></md-checkbox><span class="glyphicon glyphicon-search text-success" style="padding: 2px 0 4px 2px;"></span></button>
					</div>
				</md-toolbar>
				<div class="search col-md-12" *ngIf="showSearch.checked">
					<div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
						<md-input class="" name="fromDate" placeholder="From Date" [(ngModel)]="SearchItem.FromDate" type="date"></md-input>
					</div>
					<div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
						<md-input class="" name="toDate" placeholder="To Date" [(ngModel)]="SearchItem.ToDate" type="date"></md-input>
					</div>
					<div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
						<md-input class="" name="client" placeholder="Client" [(ngModel)]="SearchItem.Client" type="text"></md-input>
					</div>
					<div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
						<md-input class="" name="doctor" placeholder="Doctor" [(ngModel)]="SearchItem.Doctor" type="text"></md-input>
					</div>
					<div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
						<md-input class="" name="MT" placeholder="MT" [(ngModel)]="SearchItem.MT" type="text"></md-input>
					</div>
					<div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
						<md-input class="" name="AQA" placeholder="AQA" [(ngModel)]="SearchItem.AQA" type="text"></md-input>
					</div>
					<div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
						<md-input class="" name="QA" placeholder="QA" [(ngModel)]="SearchItem.QA" type="text"></md-input>
					</div>
					<div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
						<md-input class="" name="status" placeholder="Status" [(ngModel)]="SearchItem.Status" type="text"></md-input>
					</div>
					<div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
						<button md-raised-button type="submit" value="Submit" (click)="search()">Search</button>
					</div>

				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 mbottom5 ofs p0">
				<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 alert alert-danger mbottom5" *ngIf="Error.length>0">{{Error}}</div>
				<table>
					<thead class="orange200">
						<tr table-header>
							<th>Date</th>
							<th>Job No</th>
							<th>Duration</th>
							<th>Client</th>
							<th>Doctor</th>
							<th>MT</th>
							<th>AQA</th>
							<th>QA</th>
							<th>TAT</th>
							<th>Status</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let job of Jobs" [class.bg-red]="job.Color==3" [class.bg-yellow]="job.Color==2" [class.bg-white]="job.Color==1" [class.bg-green]="job.Color==0" >
							<td>{{job.JobDate}}</td>
							<td>{{job.JobNumber}}</td>
							<td>{{job.Duration}}</td>
							<td title={{job.Client}}>{{job.ClientShortName}}</td>
							<td>{{job.Doctor}}</td>
							<td>{{job.MT}}</td>
							<td>{{job.AQA}}</td>
							<td>{{job.QA}}</td>
							<td>{{job.TAT}}</td>
							<td>{{job.Status}}</td>
							<td><span class="glyphicon glyphicon-pencil pointer" (click)="editAllocation(job)" title="Edit"></span></td>
							<td><span class="glyphicon glyphicon-resize-full pointer" (click)="splitJob(job)" title="Split"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</md-card-content>
	</md-card>
</div>




<div class="dim-background" *ngIf="EditAllocationModal">
	<md-card class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1 mtb10 p0 md-elevation-z12">
		<md-card-content class="p0">
			<div>
				<md-toolbar class="toolbar-small" color="primary">
					<div class="col-xs-12 p0 m0"><span>Allocate Job</span> <button md-raised-button class="pull-right btn-small" (click)="closeEditAllocationModal()"><span class="glyphicon glyphicon-remove text-danger" style="padding: 2px 0 4px 2px;"></span></button></div>
				</md-toolbar>
				<form #newDocForm="ngForm" (submit)="updateAllocation()">

					<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
						<p *ngIf="UpdateSuccess" class="alert alert-success">Job details updated sucessfully!</p>
						<p *ngIf="UpdateFailed" class="alert alert-danger">Job details are not updated!</p>
						<p *ngIf="ModalError.length>0" class="alert alert-danger">{{ModalError}}</p>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 p0 bg-white">

						<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 mbottom10 ptop10 bg-brown">
							<div class="col-md-3 col-sm-6 col-lg-3 col-xs-12">
								<md-input class="" name="jobNumber" placeholder="Job Number" [(ngModel)]="SelectedJob.JobNumber" type="text" disabled></md-input>
							</div>

							<div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
								<md-input class="" name="jobDate" placeholder="JobDate" [(ngModel)]="SelectedJob.JobDate" type="text" disabled></md-input>
							</div>

							<div class="col-md-3 col-sm-6 col-lg-3 col-xs-12">
								<md-input class="" name="client" placeholder="Client" title="SeletedJob.Client" [(ngModel)]="SelectedJob.ClientShortName"
									type="text" disabled></md-input>
							</div>

							<div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
								<md-input class="" name="doctor" placeholder="Doctor" [(ngModel)]="SelectedJob.Doctor" type="text" disabled></md-input>
							</div>
						</div>

						<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 row">

							<div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
								<md-input class="" name="level" placeholder="Job Level" [(ngModel)]="SelectedJob.JobLevel" type="text" (change)="statusChanged()"
									(typeaheadOnSelect)="levelChanged()" [typeaheadMinLength]="0" [typeahead]="['L1','L1-L3','L1-L2-L3']"></md-input>
							</div>

							<div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
								<md-input class="" name="status" placeholder="Status" [(ngModel)]="SelectedJob.Status" type="text" (change)="statusChanged()"
									(typeaheadOnSelect)="statusChanged()" [typeaheadMinLength]="0" [typeahead]="['No Dictation','Repeat']"></md-input>
							</div>

							<div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
						     	<md-input class="" name="defaultTAT" placeholder="Default TAT" [(ngModel)]="SelectedJob.DefaultTAT" type="number" min=0></md-input>						
							</div>

							<div class="col-md-4 col-sm-6 col-lg-4 col-xs-12" *ngIf="!MTHidden">
								<md-input class="" name="MT" placeholder="MT" [(ngModel)]="SelectedJob.MT" [typeahead]="Employees" autocomplete="off" type="text"
									[disabled]="MTDisabled" (typeaheadOnSelect)="mtChanged()" (change)="mtChanged()"></md-input>
							</div>

							<div class="col-md-4 col-sm-6 col-lg-4 col-xs-12" *ngIf="!AQAHidden">
								<md-input class="" name="AQA" placeholder="AQA" [(ngModel)]="SelectedJob.AQA" [typeahead]="Employees" autocomplete="off"
									type="text" [disabled]="AQADisabled" (typeaheadOnSelect)="aqaChanged()"  (change)="aqaChanged()"></md-input>
							</div>

							<div class="col-md-4 col-sm-6 col-lg-4 col-xs-12" *ngIf="!QAHidden">
								<md-input class="" name="QA" placeholder="QA" [(ngModel)]="SelectedJob.QA" [typeahead]="Employees" autocomplete="off" type="text"
									[disabled]="QADisabled" (typeaheadOnSelect)="qaChanged()" (change)="qaChanged()"></md-input>
							</div>

							<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 center-align">
								<button md-raised-button class="file-button btn-save" type="submit" value="Submit" [disabled]="!newDocForm.valid">Submit </button>
							</div>
						</div>
					</div>
				</form>
			</div>

		</md-card-content>
	</md-card>
</div>



<div class="dim-background" *ngIf="SplitAllocationModal">
	<md-card class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1 mtb10 p0 md-elevation-z12">
		<md-card-content class="p0">
			<div>
				<md-toolbar class="mbottom5 toolbar-small" color="primary">
					<div class="col-xs-12 p0 m0"><span>Split Job</span> <button md-raised-button class="pull-right btn-small" (click)="SplitAllocationModal=!SplitAllocationModal"><span class="glyphicon glyphicon-remove text-danger" style="padding: 2px 0 4px 2px;"></span></button></div>
				</md-toolbar>
				<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 mbottom10 bg-white p0">
					<div class="col-xs-12">
						<p *ngIf="UpdateSuccess" class="alert alert-success">Job details updated sucessfully!</p>
						<p *ngIf="UpdateFailed" class="alert alert-danger">Job details are not updated!</p>
						<p *ngIf="ModalError.length>0" class="alert alert-danger">{{ModalError}}</p>
						<p *ngIf="ModalWarning.length>0" class="alert alert-warning">{{ModalWarning}}</p>
					</div>
					<div class="row m0 ptop5 main-job-details">
						<div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
							<md-input class="" name="jobDate" placeholder="JobDate" [(ngModel)]="SelectedJob.JobDate" type="text" disabled></md-input>
						</div>
						<div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
							<md-input class="" name="jobNumber" placeholder="Job Number" [(ngModel)]="SelectedJob.JobNumber" type="text" disabled></md-input>
						</div>
						<div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
							<md-input class="" name="client" placeholder="Client" title="Selected.Client" [(ngModel)]="SelectedJob.ClientShortName" type="text"
								disabled></md-input>
						</div>
						<div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
							<md-input class="" name="doctor" placeholder="Doctor" [(ngModel)]="SelectedJob.Doctor" type="text" disabled></md-input>
						</div>
						<div class="col-md-1 col-sm-3 col-lg-1 col-xs-12">
							<md-input class="" name="TAT" placeholder="TAT" [(ngModel)]="SelectedJob.TAT" type="text" disabled></md-input>
						</div>
						<div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
							<md-input class="" name="status" placeholder="Status" [(ngModel)]="SelectedJob.Status" type="text" disabled></md-input>
						</div>

						<div class="col-md-1 col-sm-3 col-lg-1 col-xs-12">
							<md-input class="" name="splits" placeholder="No of Splits" [(ngModel)]="NoOfSplits" type="text" min=2 max=5 step=1 autocomplete="off"
								(change)="splitNumberChange()" (keyup)="splitNumberChange()"></md-input>
						</div>
					</div>
					<div class="row m0 split-job-details ">
						<div class="row m0 ptop5" *ngFor="let newSplitJob of SplitAllocationChildJobs; let i=index">
							<div class="col-md-1 col-sm-6 col-lg-1 col-xs-12 f11 p8">
								{{SelectedJobNumber+'_'+(SelectedJobSequenceNumber+i)}}
							</div>
							<div class="col-md-1 col-sm-6 col-lg-1 col-xs-12">
								<md-input class="" name="startTime" placeholder="Start Time" [(ngModel)]="newSplitJob.StartTime" type="text"></md-input>
							</div>
							<div class="col-md-1 col-sm-6 col-lg-1 col-xs-12">
								<md-input class="" name="endTime" placeholder="End Time" [(ngModel)]="newSplitJob.EndTime" type="text"></md-input>
							</div>
							<div class="col-md-3 col-sm-6 col-lg-3 col-xs-12">
								<md-input class="" name="MT" placeholder="MT" [(ngModel)]="newSplitJob.MT" (typeaheadOnSelect)="employeeForSplitSelected(i,'MT')"
									[typeahead]="Employees" type="text"></md-input>
							</div>
							<div class="col-md-3 col-sm-6 col-lg-3 col-xs-12">
								<md-input class="" name="AQA" placeholder="AQA" [(ngModel)]="newSplitJob.AQA" (typeaheadOnSelect)="employeeForSplitSelected(i,'AQA')"
									[typeahead]="Employees" type="text"></md-input>
							</div>
							<div class="col-md-3 col-sm-6 col-lg-3 col-xs-12">
								<md-input class="" name="QA" placeholder="QA" [(ngModel)]="newSplitJob.QA" (typeaheadOnSelect)="employeeForSplitSelected(i,'QA')"
									[typeahead]="Employees" type="text"></md-input>
							</div>
						</div>

					</div>
					<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 center-align">
						<button md-raised-button class="file-button btn-save" type="submit" value="Submit" (click)="splitAllocation()">Submit </button>
					</div>
				</div>
			</div>

		</md-card-content>
	</md-card>
</div>