

table{
    thead{
        tr{
            height: 28px;
        }
    }
    tbody{
        tr{
            height: 25px;
        }
    }
}

.split-job-details{
    background-color:rgba(235, 237, 125, 1) 
}

.bg-brown{
    background-color:rgba(156, 103, 33, 0.45);
}

.bg-red{
    background-color: rgba(255, 199, 199, 1);
}

.bg-yellow{
    background-color: rgba(252, 255, 199, 1);
}

.bg-green{
    background-color: rgba(220, 255, 199, 1);
}

.bg-white{
    background-color: white;
}

.f11{
    font-size:11px;
}

.p8{
    padding: 8px
}

td,th{
    border-right: 1pt solid #eee;
}

