<div class="row m0">

	<md-card class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1 mtb10 mlr10 p0 md-elevation-z12">
		<md-card-content class="plr10 ptb5">
			<h3>Leaves Review</h3>
			<!--<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">-->
				<div class="alert alert-success fade in" *ngIf="UpdateSuccess">
					<a class="close" data-dismiss="alert">&times;</a>
					<strong>Success!</strong> Leave reviwed sucessfully!
				</div>
			<!--</div>-->
			<table>
				<thead class="teal500">
					<tr>
						<th>Employee</th>
						<th>From</th>
						<th>To</th>
						<th>No of days</th>
						<th>Type</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let leave of Leaves">
						<td>{{leave.Employee}}</td>
						<td>{{leave.FromDate | date}}</td>
						<td>{{leave.ToDate | date}}</td>
						<td>{{leave.NoOfDays}} </td>
						<td>{{leave.LeaveType}} </td>
						<td>{{leave.FinalStatus}} </td>
						<td style="width:88px"><button md-raised-button (click)="review(leave)">Review</button></td>
					</tr>
				</tbody>
			</table>
		</md-card-content>
	</md-card>
</div>




<div class="dim-background" *ngIf="ReviewLeaveModal">
	<md-card class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1 mtb10 p0 md-elevation-z12">
		<md-card-content class="p0">
			<div>
				<md-toolbar class="toolbar-small" color="primary">
					<div class="col-xs-12 p0 m0"><span>Review Leave for {{SelectedLeave.Employee}}</span> <button md-raised-button class="pull-right btn-small" (click)="ReviewLeaveModal=!ReviewLeaveModal"><span class="glyphicon glyphicon-remove text-danger" style="padding: 2px 0 4px 2px;"></span></button></div>
				</md-toolbar>
				<form #newDocForm="ngForm" (submit)="authorizeLeave()">

					<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
						<p *ngIf="UpdateProgress" class="alert alert-info">Please wait....!</p>
						<p *ngIf="UpdateFailed" class="alert alert-danger">Leave not updated!</p>
						<p *ngIf="ModalError.length>0" class="alert alert-danger">{{ModalError}}</p>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 p0 bg-white">

						<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 mbottom10 ptop10 bg-brown">

							<div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
								<md-input class="" name="fromDate" placeholder="From Date" [(ngModel)]="SelectedLeaveFromDate" type="date" disabled></md-input>
							</div>
							<div class="col-md-2 col-sm-6 col-lg-2 col-xs-12">
								<md-input class="" name="toDate" placeholder="To Date" [(ngModel)]="SelectedLeaveToDate" type="date" disabled></md-input>
							</div>
							<div class="col-md-1 col-sm-3 col-lg-1 col-xs-6">
								<md-input class="" name="leaveType" placeholder="Leave Type" [(ngModel)]="SelectedLeave.LeaveType" disabled></md-input>
							</div>
							<div class="col-md-1 col-sm-3 col-lg-1 col-xs-6">
								<md-input class="" name="noOfDays" placeholder="No of Days" [(ngModel)]="SelectedLeave.NoOfDays" disabled></md-input>
							</div>
							<div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
								<md-input class="" name="comments" placeholder="Comments" [(ngModel)]="SelectedLeave.Comments" type="text" disabled></md-input>
							</div>
							<div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
								<md-input class="" name="reviewComments" placeholder="Review Comments" [(ngModel)]="SelectedLeave.ReviewComments" type="text"></md-input>
							</div>
							<div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" *ngIf="SelectedLeave.IsReviewer1">
								<div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
									<md-input class="" name="status1" placeholder="Review Status" [(ngModel)]="SelectedLeave.ReviewStatus1" type="text" [typeaheadMinLength]="0"
										[typeahead]="['Further Authorization','Granted','Rejected']" (typeaheadOnSelect)="getReviewers()"></md-input>
								</div>
								<div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" *ngIf="SelectedLeave.ReviewStatus1=='Further Authorization'">
									<md-input class="" name="reviewer1" placeholder="Reviewer 2" [(ngModel)]="SelectedLeave.Reviewer2" type="text" [typeahead]="Reviewers"></md-input>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" *ngIf="!SelectedLeave.IsReviewer1">
								<md-input class="" name="status2" placeholder="Review Status" [(ngModel)]="SelectedLeave.ReviewStatus2" type="text" [typeaheadMinLength]="0"
									[typeahead]="['Granted','Rejected']"></md-input>
							</div>

							<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 center-align">
								<button md-raised-button class="file-button btn-save" type="submit" value="Submit" [disabled]="!newDocForm.valid">Submit </button>
							</div>
						</div>
					</div>
				</form>
			</div>

		</md-card-content>
	</md-card>
</div>