<div class="row">
	<md-card class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1 mtb10 p0 md-elevation-z12">
		<md-card-content class="p0">
			<div>
				<md-toolbar color="primary">
					<div class="col-xs-12 p0 m0"><span>Documents</span><button md-raised-button class="pull-right btn-small" (click)="newDocument()"><span class="glyphicon glyphicon-plus text-success" style="padding: 2px 0 4px 2px;"></span></button></div>
				</md-toolbar>
				<div class="col-lg-12 col-md-12 col-sm-12 mtb10 ofs">

					<div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 text-center emp-info">
						<b>Name : </b> {{EmployeeName}} | 
						<b>Number : </b> {{EmployeeNumber}}
					</div>
					<div class="input-group col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right mbottom10">
						<span class="input-group-addon">
                            <select [(ngModel)]="selectedKey" (change)="resetDocuments()">
                                <option *ngFor="let key of keys" [value]="key">{{key}}</option>
                            </select>
                        </span>
						<input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Search {{selectedKey}}" (keyup)="search()"
							[disabled]="selectedKey==null">
					</div>
					<table class="mtop10">
						<thead (click)="sort($event)">
							<tr table-header>
								<th>Category</th>
								<th>Document Date</th>
								<th>Upload Date</th>
								<th>Keywords</th>
								<th>Notes</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let document of documents">
								<td>{{document.Category}}</td>
								<td>{{document.DocumentDate | date}}</td>
								<td>{{document.UploadDate | date}}</td>
								<td>{{document.Keywords}}</td>
								<td>{{document.Notes}}</td>
								<td style="width:88px"><button md-raised-button>View</button></td>
								<td style="width:94px"><button md-raised-button><a (click)="downloadFile(document.DocumentURL)">Download</a></button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<button type="button" md-raised-button class="btn-save mbottom10 mright15 pull-right" *ngIf="nextButton" (click)="navigateToPayscale()">Next</button>
		</md-card-content>
	</md-card>
	<div class="dim-background" #modal *ngIf="NewDocumentModal">
		<md-card class="new-document col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 p0 md-elevation-z20">
			<md-card-content class="p0">
				<md-toolbar color="primary">
					<div class="col-xs-12 p0 m0"><span>New Document</span> <button md-raised-button class="pull-right btn-small" (click)="NewDocumentModal=!NewDocumentModal"><span class="glyphicon glyphicon-remove text-danger" style="padding: 2px 0 4px 2px;"></span></button></div>
				</md-toolbar>
				<form #newDocForm="ngForm" (submit)="uploadDocument()">
					<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 mtb10 bg-white">
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 file-input-container">
							<input type="file" name="document" value="Document" id="documentInput" ng2FileSelect [uploader]="uploader">
						</div>
						<div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
							<md-input-container>   <input mdInput class="" name="category" placeholder="Category" [(ngModel)]="NewDocument.Category" type="text" required maxLength="15"></md-input-container>
						</div>
						<div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
							<md-input-container>   <input mdInput class="" name="documentDate" placeholder="Document Date" [(ngModel)]="NewDocument.DocumentDate" type="date"></md-input-container>
						</div>
						<div class="col-md-3 col-sm-6 col-lg-4 col-xs-12">
							<md-input-container>   <input mdInput class="" name="keyword" placeholder="Keywords" [(ngModel)]="NewDocument.Keywords" type="text" maxLength="50"></md-input-container>
						</div>
						<div class="col-md-9 col-sm-12 col-lg-8 col-xs-12">
							<md-input-container>   <input mdInput class="" name="notes" placeholder="Notes" [(ngModel)]="NewDocument.Notes" type="text" maxLength="255"></md-input-container>
						</div>
						<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 center-align">
							<button md-raised-button class="file-button btn-save" type="submit" value="Submit" [disabled]="!newDocForm.valid">Submit </button>
						</div>
					</div>
				</form>
			</md-card-content>
		</md-card>
	</div>
</div>